<form (ngSubmit)="onSubmit()" #tokenForm="ngForm">
  <div class="form-group">
    <label for="token">countmatic Token</label>
    <input type="text" class="form-control" id="token" required [(ngModel)]="token" name="token">
  </div>
  <div class="form-group">
    <input type="checkbox" class="filled-in" id="store" [(ngModel)]="store" checked="checked">
    <label for="store">store this token locally (currently unused)</label>
  </div>


  <button type="submit" class="btn btn-success">Submit</button>

</form>
