<form (ngSubmit)="onSubmit()" #tokenForm="ngForm">
  <div class="form-group">
    <label for="token">countmatic Token</label>
    <input type="text" class="form-control" id="token" required [(ngModel)]="token" name="token">
  </div>
  <div class="form-group">
    <input type="checkbox" class="filled-in" id="store" [(ngModel)]="store" checked="checked" name="store">
    <label for="store">store this token locally (for later re-use)</label>
  </div>


  <button type="submit" class="btn btn-success">Submit</button>
  <button type="button" *ngIf="this.oldTokens.length > 0" class="btn btn-info" data-toggle="modal"
          data-target="#modalList">Pick from previous
  </button>

</form>

<!-- Modal -->
<div class="modal fade" id="modalList" tabindex="-1" role="dialog" aria-labelledby="modalListLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalListLabel">Select token</h5>
      </div>
      <div class="modal-body">
        <ul *ngFor="let s of oldTokens">
          <li (click)="setToken(s)">{{ s }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
